/* Variables & Layout */
:root {
  --light-blue: #e0e5ec;
  --middle-blue: #5790ab;
  --dark-blue: #11181c;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
}

#main-div {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Sidebar & Controls */
.sidebar {
  width: 280px;
  background: var(--dark-blue);
  padding: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#blart-img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  filter: invert(100%);
}

.sidebar h2 {
  font-size: 18px;
  margin: 0;
  color: var(--light-blue);
}

.control-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.control-group select {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--light-blue);
  border: 0px;
  font-size: 14px;
}

/* Map & Markers */
#map {
  flex-grow: 1;
  height: 100%;
  background: black;
}

.custom-marker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-inner {
  width: 14px;
  height: 14px;
  background-color: #3498db;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}

.marker-inner:hover {
  background-color: #233043;
  transform: scale(1.4);
  cursor: pointer;
}

.marker-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 18px solid #4fb0f1;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 1));
  transition: transform 0.3s;
}

/* Marker Color Classes */
.blart-true,
.eyes-true,
.nose-true,
.spray-false,
.private-false {
  background-color: #59b667 !important;
}

.blart-false,
.eyes-false,
.nose-false,
.simpson-false,
.spray-true,
.private-true {
  background-color: #d04b2a !important;
}

.simpson-true {
  background-color: #ffe30c !important;
}

/* Popups */
.leaflet-custom-container .leaflet-popup-content-wrapper {
  padding: 0;
  background: none;
  box-shadow: none;
}

.leaflet-custom-container .leaflet-popup-content {
  margin: 0;
  width: 280px !important;
}

.leaflet-popup-close-button {
  display: none;
}

.point-popup {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.popup-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.popup-body {
  padding: 15px;
}

.category-tag {
  background: #e1f5fe;
  color: #03a9f4;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px 6px;
  border-radius: 4px;
  margin-right: 4px;
  margin-bottom: 10px;
  display: inline-block;
}

.point-popup p {
  font-size: 12px;
  color: #777;
  margin: 0px 0 10px 0;
}

.popup-btn {
  width: 100%;
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
}

.popup-btn:hover {
  background: #0056b3;
}

/* Legend */
#legend-container {
  margin-top: 0px;
  padding-top: 0px;
}

#legend-content {
  padding-left: 2px;
  padding-top: 4px;
}

.legend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--light-blue);
}

.legend-item span {
  color: #dedede;
}

.legend-shape {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1.5px solid white;
}

.legend-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 14px solid #4fb0f1;
  border-radius: 0;
  border-top: none;
  background: none;
}

/* Toggles */
.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  padding-top: 15px;
  cursor: pointer;
}

.toggle-text {
  font-size: 0.9rem;
  color: #e6e6e6;
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3498db;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
